#!/bin/bash

git clone https://github.com/Steven0411/devops-showcase-june.git /home/ubuntu/devops-showcase-june

cd /home/ubuntu/devops-showcase-june/

docker build -t ukduw/showcase-node-app:latest ./rps-game

docker compose up -d 